<main>
  <h1>Ingrese Producto</h1>
  <form action="/api/productos" method="post">
    <label for="title">Nombre</label>
    <input type="text" name="title" id="title" /><br />
    <label for="price">Precio</label>
    <input type="number" name="price" id="price" /><br />
    <label for="thumbnail">Foto URL</label>
    <input type="text" name="thumbnail" id="thumbnail" /><br />
    <input type="submit" value="Enviar" />
  </form>
</main>